.LayoutAuth  {
	min-height: 100vh;
	background: #455A64;
}


.Auth {
	text-align: center;
	display: inline-block;
	margin-top: 90px !important;
	margin-left: calc(50vw - 250px) !important;
}

.Auth .divider {
	font-size: 20px;
	font-weight: 300;
}


.Auth .error {
	color: #F44336;
}