.ChatMessage {
	max-width: 50vw;
	float: left;
	clear: both;
	background: #fff;
	padding: 12px 18px;
	margin: 12px 24px;
	border-radius: 5px;
	position: relative;
	box-shadow: 1px 2px 5px rgba(0,0,0,.15);
}

.ChatMessage::before {
	content: '';
	background: #fff;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: -0px;
	z-index: -1;
	transform: skewX(50deg);
	box-shadow: 1px 2px 5px rgba(0,0,0,.15);
}



.ChatMessage.ownMessage {
	float: right;
	box-shadow: -1px 2px 5px rgba(0,0,0,.15);
}

.ChatMessage.ownMessage::before {
	left: initial;
	right: -0px;
	transform: skewX(-50deg);
}