body {
	background: #eee;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


object[type="application/gas-events-uni"] {
	display: none;
}

a {
	text-decoration: none;
}

.textCenter {
	text-align: center;
}